<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            画像をアップロードしよう
        </title>
    </head>
    <body>
        <h1>
            Zoom画像を集合写真に変換しよう
        </h1>
        <form method = post enctype = multipart/form-data>
            <p>
                <td align="right"><b>Zoom画像：</b></td>
                <td><input type = "file" name = "file1"></td>
            </p>
            <p>
                <td align="right"><b>背景画像：</b></td>
                <td><input type = "file" name = "file2"></td>
            </p>
            <p><input type = "submit" value = "Upload"></p>
        </form>
    </body>
</html>
